@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="hero-section">
    <div class="container hero-con">
        <div class="row">
            <div class="col">
                <h1 class="hero-title">
                    @Model.Value("showcaseTitle")
                </h1>
                <h4 class="hero-paragraph">
                    @Model.Value("showcaseDescription")
                </h4>
                <div class="hero-btn-group">
                    <a href="@Model.Value("showcaseButtonUrl")" target="_blank"><button class="btn btn-warning hero-gc-btn">@Model.Value("showcaseButtonText") <i class="fa-light fa-arrow-up-right"></i></button></a>
                    <button class="hero-lm-btn">Learn More <i class="fa-light fa-arrow-up-right"></i></button>
                </div>
            </div>
            <div class="col">
                @{
                    var showcaseImage = Model.Value<MediaWithCrops>("showcaseImage");
                    if (showcaseImage != null)
                    {
                        <img src="@showcaseImage.MediaUrl()" alt="@Model.Value("showcaseTitle")" />
                    }
                }
            </div>
        </div>  
    </div>
</section>
