@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var currentPage = Umbraco.AssignedContentItem;
    var itemsPerPage = 4;
    var pageNumber = 1;

    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
    {
        pageNumber = 1;
    }

    if (currentPage.Url() == "/projects" || currentPage.Url() == "/projects/")
    {
        itemsPerPage = 6;
    }

    var selection = Umbraco.Content(Guid.Parse("d142b028-8c04-4a06-8305-2072745672f3"))?
    .ChildrenOfType("projectDetailsPage")?
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);

    var totalArticles = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
}

<div class="container project-con">
    <p class="project-title">Project & Case Studies</p>
    <h1 class="project-header-title">Let's Looks Our Global Projects</h1>
    <div class="row">
        @if (pagedItems != null)
        {
            @foreach (var item in pagedItems)
            {
                var url = item.Url();
                var image = item.Value<IPublishedContent>("projectImage");
                var title = item.Name();

                if (item.Key == Model.Key)
                {
                    continue;
                }

                <div class="col-6 mb-3">
                    <a href="@url" class="project-btn">
                        <img class="project-img" src="@image!.MediaUrl()" /> 
                    </a>
                    <h5 class="project-col-text">@title</h5>
                    <hr>
                    <div class="project-btn-div">
                        <a href="@url" class="project-btn">Read More <i class="fa-light fa-arrow-up-right"></i></a>
                    </div>
                </div>
            }
        }
    </div>

    @if (totalArticles > itemsPerPage && currentPage.Url() == "/projects/" || totalArticles > itemsPerPage && currentPage.Url() == "/projects")
    {
        <nav class="on-pagination" aria-label="Page navigation">
            @if (pageNumber > 1)
            {
                <a href="?page=@(pageNumber - 1)" class="on-link" aria-label="Previous">
                    <i class="fa-sharp fa-solid fa-chevron-left" id="on-arrow"></i>
                </a>
            }

            @for (int i = 1; i <= Math.Ceiling((decimal)totalArticles / itemsPerPage); i++)
            {
                if (i == pageNumber)
                {
                    <a href="#" class="on-link on-active">@i</a>
                }
                else
                {
                    <a href="?page=@i" class="on-link">@i</a>
                }
            }

            @if (pageNumber < Math.Ceiling((decimal)totalArticles / itemsPerPage))
            {
                <a href="?page=@(pageNumber + 1)" class="on-link" aria-label="Next">
                    <i class="fa-sharp fa-solid fa-chevron-right" id="on-arrow"></i>
                </a>
            }

        </nav>
    }
</div>