@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var currentPage = Umbraco.AssignedContentItem;
    var itemsPerPage = 8;
    var pageNumber = 1;
    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
    {
        pageNumber = 1;
    }

    if (currentPage.Url() == "/")
    {
        itemsPerPage = 4;
    }

	var selection = Umbraco.Content(Guid.Parse("fd2d998a-93a4-4eaa-b32c-d6bef6238cad"))?
    .ChildrenOfType("serviceDetailsPage")?
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);


    
    var totalArticles = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
    
}

<section class="service-section p-5">
    <div class="container">
        @if (currentPage.Url() == "/")
        {
            <h5 class="service-title">Our Services</h5>
            <h1 class="service-header-title">We Provide The Best Service For Consulting</h1>
        }
        <div class="service-card-con">
            <div class="row">
                @if (pagedItems != null)
                {
                    @foreach (var item in pagedItems)
            	    {
            	        var url = item.Url();
                        var dayOfMonth = item.CreateDate.Day;
                        var month = item.CreateDate.ToString("MMM");
                        var image = item.Value<IPublishedContent>("articleImage");
                        var title = item.Name();
                        var description = item.Value("servicePreamble");
    
                        if (item.Key == Model.Key)
                        {
                            continue;
                        }
            	

                        <div class="col-3 service-card">
                            <i class="fa-light fa-horizontal-rule"></i>
                            <h5 class="service-card-title">@title</h5>
                            <p>@description</p>
                            <div class="service-btn-con">
                                <a href="@url"><i class="fa-light fa-arrow-right" id="service-arrow-right"></i></a>
                            </div>
                        </div>
                    }
        	    }
            </div>
            @if (currentPage.Url() == "/")
            {
                <div class="d-flex justify-content-center">
                    <a class="service-btn" href="/services/">Browse Services <i class="fa-light fa-arrow-up-right"></i></a>
                </div>
            }

            @if (totalArticles > itemsPerPage)
            {
                <nav class="on-pagination" aria-label="Page navigation">
                @if (pageNumber > 1)
                {
                    <a href="?page=@(pageNumber - 1)" class="on-link" aria-label="Previous">
                        <i class="fa-sharp fa-solid fa-chevron-left" id="on-arrow"></i>
                    </a>
                }

                @for (int i = 1; i <= Math.Ceiling((decimal)totalArticles / itemsPerPage); i++)
                {
                    if (i == pageNumber)
                    {
                        <a href="#" class="on-link on-active">@i</a>
                    }
                    else
                    {
                        <a href="?page=@i" class="on-link">@i</a>
                    }
                }

                @if (pageNumber < Math.Ceiling((decimal)totalArticles / itemsPerPage))
                {
                    <a href="?page=@(pageNumber + 1)" class="on-link" aria-label="Next">
                        <i class="fa-sharp fa-solid fa-chevron-right" id="on-arrow"></i>
                    </a>
                }
                </nav>
            }
        </div>
    </div>
</section>

        