@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Models.PublishedContent;
@inject IUserService UserService;

@{
    var userService = UserService;
    var image = Model.Value<IPublishedContent>("articleImage");
}

<div class="container article-con">
    <div class="row">
        <div class="col-8">
            <h1 class="article-title">
                @Model.Name()
            </h1>
            <ul class="article-list d-flex align-items-center">
                <li class="article-item">@Model.CreateDate.ToString("MMM dd, yyyy")</li>
                <li class="article-item"><i class="fa-solid fa-circle" id="article-circle"></i></li>
                <li class="article-item">@Model.Value("articleCategory")</li>
                <li class="article-item"><i class="fa-solid fa-circle" id="article-circle"></i></li>
                <li class="article-item">@Model.CreatorName(userService)</li>
            </ul>
            <img class="article-img" src="@image.MediaUrl()" />
            <p class="article-p">
                @Model.Value("articleContent")
            </p>
            <div class="article-tags">
                <ul class="article-tags-list">
                    @foreach (var tag in Model.Value<IEnumerable<string>>("articleTags"))
                    {
                        <li class="article-tag">@tag</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-4">
            <input class="article-search" placeholder="Type to search..."/>
            <div class="article-rp-div">
                <h4 class="article-rp-title">Recent Posts</h4>
                <h6 class="article-rp-ar">How To Blow Through Capital At An Incredible Rate</h6>
                <p class="article-rp-date">Jan 14, 2020</p>
                <hr />
                <h6 class="article-rp-ar">Design Studios That Everyone Should Know About?</h6>
                <p class="article-rp-date">Jan 14, 2020</p>
                <hr />
                <h6 class="article-rp-ar">How did we get 1M+ visitors in 30 days without anything!</h6>
                <p class="article-rp-date">Jan 14, 2020</p>
                <hr />
                <h6 class="article-rp-ar">Figma On Figma: How We Built Our Website Design System</h6>
                <p class="article-rp-date">Jan 14, 2020</p>
            </div>
            <div class="article-rp-div">
                <h4 class="article-rp-title">Categories</h4>
                <ul class="article-rp-lists">
                    <li class="article-rp-list"><span class="rp-list-bold">Technology - </span>20 Posts</li>
                    <li class="article-rp-list"><span class="rp-list-bold">Freelancing - </span>07 Posts</li>
                    <li class="article-rp-list"><span class="rp-list-bold">Writing - </span>16 Posts</li>
                    <li class="article-rp-list"><span class="rp-list-bold">Marketing - </span>11 Posts</li>
                    <li class="article-rp-list"><span class="rp-list-bold">Business - </span>35 Posts</li>
                    <li class="article-rp-list"><span class="rp-list-bold">Education - </span>14 Posts</li>
                </ul>
            </div>
        </div>
    </div>
</div>